package repositories


import (
	"database/sql"
	"github.com/sirupsen/logrus"
	"strconv"
	"time"
)

{{ $name_service := .Name }}

type {{ $name_service }}Repository struct {
	db *sql.DB
}

type (
	{{ $name_service }}er interface {

	}
)

func Init{{ $name_service }}Repository(db *sql.DB) {{ $name_service }}er {
	return &{{ $name_service }}Repository{
		db: db,
	}
}

